.page-not-found-wrap{
    min-height: calc(100vh - 84px);
    width: 100vw;
    padding-top:84px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page-not-found-wrap *{
    width: 100%;
    text-align: center;
}
.page-not-found-heading{
    width: 100%;
    text-align: center;
}
.page-not-found-title{
    margin:0;
    font-size: 20vw !important;
}
.page-not-found-title-overlay{

    top:0;
    left: 0;

}
.page-not-found-wrap canvas{
   height: calc(100vh - 84px - (100px * 1.1) - (18px * 3) - 6vw);
   padding-bottom: 4vw;

}