.page-not-found-wrap{
    min-height: calc(100vh - 84px);
    width: 100vw;
    padding-top:84px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page-not-found-wrap *{
    width: 100%;
    text-align: center;
}
.metaball {
  border-radius: 50%;
  filter: blur(10px); /* Adjust blur for smoother edges */
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
  position: absolute;
  transform: translate(-50%, -50%);
}
.page-not-found-heading{
    width: 100%;
    text-align: center;
}
.page-not-found-title{
    margin:0;
    font-size: 20vw !important;
}
.page-not-found-title-overlay{

    top:0;
    left: 0;

}
.page-not-found-wrap canvas{
   height: calc(100vh - 84px - (100px * 1.1) - (18px * 3) - 6vw);
   padding-bottom: 4vw;

}