.project-title{
    margin-top:120px;
    line-height: 120px;
    margin:0px;
    margin-bottom: -10px;


}
.projectPageSection1 *{
    color: var(--primary-color);
}
.projectPageSection1{
    width:92%;
    height:90vh;
    margin: 4%;
    margin-top: 0;
    display: flex;
    gap:1.5%;
    background-color: white;
    position: relative;
}
.projectPageSection1 > div{
    margin-top: 90px;
    width: 49.2%;
    display: flex;
    flex-direction: column;
    justify-content: start;

}
.single-image{
    position: absolute;
}
.hiddenPreloadedBlurhash {
  display: none;
}
  
.imageWrap{

    width: 100%;
    position: relative;
    justify-content: center !important;
    max-height: calc(100vh - 4vw - 90px);
}
.imageWrap img{
    width: 100%;
    max-height: calc(100vh - 4vw - 90px);
    object-fit: cover;
    border-radius: 16px;
}
.buttonWrap{
    position: absolute;
    bottom:0 !important;
    width: 100% !important;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: end;
}
.thumbnailWrap{
    display: none !important;
}
@media only screen and (max-width:830px){
    .projectPageSection1{
        width: 84%;
        margin-inline: 8%;
        flex-direction: column;
        justify-content: space-between;

    }
    .projectPageSection1 > div{
        width: 100%;
    }
    .imageWrap{
        margin-top: 0px;
        margin-bottom: 90px;
    }
}