@font-face {
  font-family: "Tusker";   /*Can be any text*/
  src: local("DonaGrotesk"),
    url("./fonts/DonaGrotesk.otf") format("truetype");
}

/* define component style guide here */
:root {
  --primary-color: #181818;
  --secondary-dark:rgb(10, 10, 10);
  --secondary-color: #ffffff;
  --third-color: #d2d2d2;
  --outline-color:#dedede;

  --body-family: 'Synonym', sans-serif;
  --title-family: 'Tusker', sans-serif;

  --font-size-heading-link: 6.95vw;
  --font-size-heading-mobile: 56px;
  --font-size-base: 16px;

  --font-size-heading:6.95vw;
  --font-size-title:7.65vw;



  
  --title-letter-spacing:0.025em;

}
html{
    scrollbar-color: var(--secondary-dark) transparent;
    
    font-feature-settings: "kern" off;
    font-kerning: none;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}
html.lenis, html.lenis body {
  height: auto;
}
::selection {
  background-color: var(--secondary-dark);
  color: #ffffff;
}
@media screen and (min-width: 1450px){
  .title{
    font-size:110px !important;
    line-height: 1.1em !important;
  }
}
@media screen and (min-width: 1450px){
  .heading{
   font-size:100px !important;
   line-height: 1.1em !important;
  }
}

.primary-button{
  font-family: var(--body-family);
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: -1.5px;
  border: 0px;
  padding: 0;
  background-color: transparent;
  width: fit-content;
  position: relative;
  overflow: hidden;
  padding-right: 38px;
  max-height: 28px;
  margin-top:-4px;
  line-height: 30px;
  cursor: pointer;
  transition-delay: 100ms;
  font-weight: 900;
}
.primary-button::after{
  content:'';
  background-position: top center;
  background-size: contain;
  margin-top: 10px;
  margin-bottom:-16px;
  right:5px;
  scale:1.1;
  width:16px;
  height:40px;
  transition: all ease-out 0ms;
  mask: url(/public/Arrow/Black-Arrow.svg);
  mask-size: contain;
  background-color: var(--primary-color);
  position: absolute;
}
.primary-button:hover::after{
  transition: all ease-out 300ms;
  transition-delay: 150ms;
  transform: translateY(-24px);
 
}


.primary-button.button-gradient{
  margin-top: 0px !important;
background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 0.803) 100%);
line-height: 1em;
padding-block: 10px !important;
border-radius: 3px;
padding-right: 48px !important;
transition: all ease-out 550ms;
transition-delay: 50ms;
max-height: none;
}
.primary-button.button-gradient:hover{
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 0.803) 100%);

}
.primary-button.button-gradient:hover::before{
  transition: all ease-out 250ms;
  transform: translateY(-29px);
  transition-delay: 200ms;
}
.primary-button.button-gradient::before{
  content:'';
  mask: url(/public/Arrow/Black-Arrow.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: var(--primary-color);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;

  bottom:0;
  margin-bottom:-30px;
  right:15px;
  scale:1.1;
  width:15px;
  height:24px;
  transition-delay: 0ms;
  transition: all ease-out 0ms;

  position: absolute;
}



.primary-button.button-gradient::after{
  content:'';
  mask: url(/public/Arrow/Black-Arrow.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: var(--primary-color);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 4px;
  margin-bottom:-16px;
  right:15px;
  scale:1.1;
  width:15px;
  height:24px;
  transition: all ease-out 0ms;
  transition-delay: 0ms;
  position: absolute;
}
.primary-button.button-gradient:hover::after{
  transition: all ease-out 200ms 100ms;
  transform: translateY(-30px);
}

.body{
  font-family: var(--body-family);
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: -1.1px;
  line-height: 1em;
}
.title-body{
  font-family: var(--body-family);
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: -1.3px;
  line-height: 1;
  opacity: 1;
}
.title{
  font-family: var(--title-family);
  font-size: 110px;
  font-size: var(--font-size-title) !important;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.1em;
  letter-spacing: 0.02em;
}
.header-reduced, .header-reduced .heading{
  font-family: var(--title-family);
  font-size: 60px !important;
  margin-bottom:5px;
  letter-spacing: var(--title-letter-spacing);
 
  text-transform: uppercase;
  line-height: 1.1em;
}

.heading{
  letter-spacing: 0.02em !important;
  font-family: 'Tusker';
  font-size: 100px;
  font-size: var(--font-size-heading);
  padding-top:10px;
  margin: 0;
  line-height: 1.1em;
  text-transform: uppercase;
}
.grid-overlay{
  position: fixed;
  left:0;
  width: 100vw;
  height:100%;
  background-image: url(/public/grid.png);
  background-size:100%;
  background-position: center;
  z-index: 9999;
  pointer-events: none;
}


@media only screen and (max-width:830px){
  .grid-overlay{
    z-index: 9999;
    background-size: cover;
    background-image: url(/public/grid-Mobile.png);   
  }
}
@media only screen and (max-width:830px){
  .title{
    font-size: 10.5vw !important;
    line-height: 11vw !important;
  }
  .heading{
    font-size: 10.5vw;
    line-height: 10.5vw;
  }
}
